<div class="promo-new-box">

    {% for post in posts %}
        <div class="promo-new-box__item">
            <div class="promo-new-box__item-img">
                <img src="{{ post.thumbnail.src('ayp_stock') }}" alt="{{ post.title }}">
            </div>
            <div class="promo-new-box__item-descr">
                <h3>{{ post.title }}</h3>
                {{ post.content }}
                <a href="#" class="popup-button-main js-modal-open" data-modal="order">Записаться в салон</a>
            </div>
        </div>
    {% endfor %}
</div>