<div class="girlBox specialist-slider js-specialists-slider">
    {% for post in posts %}
    <div class="item">
        <div class="slider-box">
            <div class="img-box">
                <img style="max-width: none" src="{{ post.thumbnail.src('ayp_team') }}" alt="{{ post.title }}">
            </div>
            <div class="descr">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
