// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
*,body,html{
  margin:0;
  padding:0;

}
*{
  box-sizing: border-box;
}
html{
  font-size: 18px;
  line-height: 1.25;
}
body{
  color:#082e50;
}
img{
  max-width: 100%;
}
.text-center{
  text-align: center;
}
.light-blue{
  color:#059cc4;
}
.color-white{
  color:#fff;
}
@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}
@-o-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

.cloud-top{
  background-image: url(../images/top-clouds.png);
  width:100%;
  position: absolute;
  top:0;
  height:552px;
  left: 0;
}
.cloud-bottom{
  background-image: url(../images/bottom-cloud.png);
  width:100%;
  position: absolute;
  bottom:0;
  left: 0;
  height:465px;
}
.animated-bg{
  animation: animatedBackground 10s linear infinite;
  -moz-animation: animatedBackground 10s linear infinite;
  -webkit-animation: animatedBackground 10s linear infinite;
  -ms-animation: animatedBackground 10s linear infinite;
  -o-animation: animatedBackground 10s linear infinite;
  background-repeat: repeat-x;
}
.top{
  height:819px;
  position: relative;
  background: url(../images/top-bg-full.jpg) no-repeat 50%;
  background-size:cover;
  margin-bottom:65px;
}
.mac{
  position: absolute;
  bottom:-85px;
  left:50%;
  transform: translateX(-50%);
}
h2{
  font-size: 43px;
  text-transform: uppercase;
  margin-bottom:65px;
}
.team{
  padding-top:65px;
}
.prices{
  padding-top:367px;
}