<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <table>
        {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.value }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                Администрация сайта cruche.ayeps.ru
            </td>
        </tr>
    </table>
</body>
</html>