<div class="price-table__item">
    <div class="price-table__button">
        <span>{{ title }}</span>
    </div>
    <div class="price-table__list">
        <ul>
            {% for price in prices %}
            <li><span>{{ price.title }}</span> <span>{{ price.value }}</span></li>
            {% endfor %}
        </ul>
    </div>
</div>