{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
	</head>
{% endblock %}
{#

	block content - Блок куда выводится контент


	Набор переменных:
		site.url - Ссылка на сайт
		site.name - Название сайта как прописано в админке
		title - название Записи или страницы
		body_class  - классы для body


	Опции темы:
		ayp_options - массив опций

		ayp_options.phone_number  			- номер телефона
		ayp_options.address  				- Адрес организации
		ayp_options.email 					- Email указанный в опциях
		ayp_options.work_hours  			- Часы работы
		ayp_options.faks  					- Факс

		ayp_options.main_logo.url  			- полная ссылка на логотип
		ayp_options.main_logo_x2.url  		- полная ссылка на логотип для ретины (х2)

		ayp_options.instagram   			- Ссылка на инстаграм
		ayp_options.fb  					- Ссылка на Фейсбук
		ayp_options.vk  					- Ссылка на ВКонтакте
		ayp_options.google_plus 			- Ccылка на профиль Google+
		ayp_options.youtube 				- Ccылка на профиль Youtube
		ayp_options.ok 						- Ccылка на профиль Одноклассники
#}
	<body class="{{body_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
            {% include 'footer.twig' %}
			<script>
                jQuery(document).ready(function($){

                })
			</script>

            {{ function('wp_footer') }}
		{% endblock %}

		{% include 'components/metrika.twig' %}
	</body>
</html>
