{#

	Теги "{{  }}" - служат для вывода переменной

	Опции темы:
		ayp_options - массив опций
		ayp_options.phone_number  			- номер телефона
		ayp_options.address  				- Адрес организации
		ayp_options.email 					- Email указанный в опциях
		ayp_options.main_logo.url  			- полная ссылка на логотип
		ayp_options.main_logo_x2.url  		- полная ссылка на логотип для ретины (х2)
		ayp_options.instagram   			- Ссылка на инстаграм
		ayp_options.fb  					- Ссылка на Фейсбук
		ayp_options.vk  					- Ссылка на ВКонтакте
#}


{% include 'components/modal.twig' %}