{% extends 'base.twig' %}

{% block content %}
    <style>
        .serv-content__item{
            display: block !important;
        }
        .creative__col .slick-slide{
            line-height:0;
        }
    </style>
    <header class="container-fild">
        <div class="container header-info">
            <div class="address pt-15">
                <p>{{ ayp_options.address }}</p>
            </div>
            <div class="time-work pt-15 hidden-xs">
                <p>{{ ayp_options.work_hours }}</p>
            </div>
            <div class="logo col-md-2">
                <a href="/"><img width="80" src="{{AYP_THEME_URI}}/dist/images/logo.svg" alt="logo"></a>
            </div>
            <div class="phone-button pt-15 hidden-xs">
                <div><a class="phone" href="tel:{{ ayp_options.phone_number|replace({' ':'','(':'',')':'','-':''}) }}">{{ ayp_options.phone_number }}</a></div>
                <div><a class="dr-button js-modal-open" data-modal="callback-modal" href="#">Заказать звонок</a></div>
            </div>
            <div class="button header-button pt-15">
                <a class="main-button js-modal-open" data-modal="order" href="#">Получить консультациюцию</a>
            </div>
        </div>
        <div class="container main-hav">
            <nav class="hidden-xs">
                <ul class="nav-box">
                    <li class="active"><a href="#services">Услуги</a></li>
                    <li><a href="#price">Прайс</a></li>
                    <li><a href="#promotion">Акции</a></li>
                    <li><a href="#specialists">Специалисты</a></li>
                    <li><a href="#cusrce">Курсы</a></li>
                    <li><a href="#sertificate">Сертификаты и лицензии</a></li>
                    <li><a href="#video">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="infowrap-mobile visible-xs">
                <p>{{ ayp_options.work_hours }}</p>
            </div>

            <div class="infowrap-mobile visible-xs">
                <a class="phone" href="tel:{{ ayp_options.phone_number|replace({' ':'','(':'',')':'','-':''}) }}">{{ ayp_options.phone_number }}</a>
            </div>

        </div>
    </header>


    <section class="main">

        <div class="box-line">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <article id="header-box" class="container-fluid">
            <div class="container main-content">
                <div class="slider">
                    <div>
                        <div class="slider-box js-top-slider">

                            <div class="slides" >
                                <div>
                                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/human.png" class="humen-lg" alt="">
                                    <div class="text" >
                                        <h2>СRUCHE<br>
                                            <span>– это территория</span>
                                        </h2>
                                        <div class="img-humen-wrap">
                                            <img src="{{AYP_THEME_URI}}/dist/images/main-box/human.png" class="img-humen hidden-lg img-responsive" alt="">
                                        </div>
                                        <p>где делают профессионалов и где профессионалы <br>
                                            делают Вас прекраснее</p>
                                        <span class="bigText">СRUCHE</span>
                                        <a class="popup-button js-modal-open" data-modal="order" href="#">Записаться</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slides" >
                                <div>
                                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/www.png" class="humen-lg" alt="">
                                    <div class="text" >
                                        <h2><span>Академия</span><br>СRUCHE
                                        </h2>
                                        <div class="img-humen-wrap">
                                            <img src="{{AYP_THEME_URI}}/dist/images/main-box/www.png" class="img-humen hidden-lg img-responsive" alt="">
                                        </div>

                                        <span class="bigText">Academy <br>СRUCHE</span>
                                        <a class="popup-button js-modal-open" data-modal="order" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slides" >
                                <div>
                                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/human.png" class="humen-lg" alt="">
                                    <div class="text" >
                                        <h2>СRUCHE<br>
                                            <span>– это территория</span>
                                        </h2>
                                        <div class="img-humen-wrap">
                                            <img src="{{AYP_THEME_URI}}/dist/images/main-box/human.png" class="img-humen hidden-lg img-responsive" alt="">
                                        </div>
                                        <p>где делают профессионалов и где профессионалы <br>
                                            делают Вас прекраснее</p>
                                        <span class="bigText">СRUCHE</span>
                                        <a class="popup-button js-modal-open" data-modal="order" href="#">Записаться</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slides" >
                                <div>
                                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/www.png" class="humen-lg" alt="">
                                    <div class="text" >
                                        <h2><span>Академия</span><br>СRUCHE
                                        </h2>
                                        </h2>
                                        <div class="img-humen-wrap">
                                            <img src="{{AYP_THEME_URI}}/dist/images/main-box/www.png" class="img-humen hidden-lg img-responsive" alt="">
                                        </div>

                                        <span class="bigText">Academy <br>СRUCHE</span>
                                        <a class="popup-button js-modal-open" data-modal="order" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="arrows hidden-xs">
                            <i id="prev"><img src="{{AYP_THEME_URI}}/dist/images/main-box/button-next.png" alt=""></i>
                            <i id="next"><img src="{{AYP_THEME_URI}}/dist/images/main-box/button-next.png" alt=""></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="container-fluid about-header-box">
            <div class="container about-box">
                <div class="about-box__item">
                    <p class="hidden-xs">Выбор <br>
                        мастера</p>
                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/scissors.png" alt="">
                    <p class="visible-xs">Выбор <br>
                        мастера</p>
                </div>
                <div class="about-box__item">
                    <p class="hidden-xs">Уникальный <br>
                        сервис</p>
                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/perfume.png" alt="">
                    <p class="visible-xs">Уникальный <br>
                        сервис</p>
                </div>
                <div class="about-box__item">
                    <p class="hidden-xs">Индивидуальный <br>
                        подход</p>
                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/royalty-crown.png" alt="">
                    <p class="visible-xs">Индивидуальный <br>
                        подход</p>
                </div>
                <div class="about-box__item">
                    <p class="hidden-xs">Домашняя <br>
                        атмосфера</p>
                    <img src="{{AYP_THEME_URI}}/dist/images/main-box/armchair.png" alt="">
                    <p class="visible-xs">Домашняя <br>
                        атмосфера</p>
                </div>
            </div>
        </article>

        <article id="services">
            <div class="container box-header">
                <div class="header">
                    <span class="after">SERVICES</span>
                    <h2>Наши услуги</h2>
                </div>
            </div>
            <div class="services-slider-container">
                {% filter shortcodes %}
                    [ayp_services_slider]
                {% endfilter %}
                <button class="js-services-prev services-slider-arrow services-slider-arrow-prev">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="js-services-next services-slider-arrow services-slider-arrow-next">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>

            <div class="container">
                <div class="button-box">
                    <a href="#" class="popup-button-main js-modal-open" data-modal="order">Записаться на прием</a>
                </div>
            </div>
        </article>

        <article id="price">
            <div class="container price-container">
                <h2 class="price-container__h2 hidden-block-decstop">Прайс</h2>
                {% filter shortcodes %}
                    [ayp_price_accordeon]
                {% endfilter %}


                <div class="box-header hidden-block-mobil">
                    <div class="header">
                        <span class="after">Price</span>
                        <h2>Прайс</h2>
                    </div>
                    <div class="price-button-box">
                        <a href="#" class="popup-button-main js-modal-open" data-modal="order">Записаться в салон</a>
                    </div>
                    <img class="bg-imgd" src="{{AYP_THEME_URI}}/dist/images/price/bg-box.png" alt="">
                </div>

                <div class="price-button-wrap hidden-block-decstop">
                    <a href="#" class="popup-button-main js-modal-open" data-modal="order">Записаться в салон</a>
                </div>


            </div>
        </article>

        <article id="promotion">
            <div class="container box-header promo-main">
                <div class="header">
                    <span class="after">services</span>
                    <h2>Консьерж-сервис</h2>
                </div>
                <div class="mw992 m0a mb-130">
                    <div class="promo-main__item">
                        <p class="header-item">
                            Пока вы делаете процедуры у нас в салоне,<br>
                            мы окажем вам весь спектр услуг:
                        </p>
                        <ul>
                            <li> - вызов такси;</li>
                            <li> - запись мастер-классы Центра;</li>
                            <li> - консультации по продуктам центра;</li>
                            <li> - бронирование билетов в кинотетеатр, аэропорт, вокзал, музей.</li>
                        </ul>
                        <p class="quotes-item">
                            *(при предоставлении персональных данных, и денежных средств клиента)
                        </p>
                    </div>
                </div>

                <div class="header">
                    <span class="after">Promotions</span>
                    <h2>Наши акции</h2>
                </div>
                <div class="mw992 m0a">
                    {% filter shortcodes %}
                        [ayp_stock]
                    {% endfilter %}
                </div>
            </div>
        </article>

        <article id="specialists">
            <div class="container mainbox">
                <div class="container box-header">
                    <div class="header white">
                        <span class="after">Specialists</span>
                        <h2>Наши<br class="hid-mobil">
                            специалисты</h2>
                    </div>
                    <div id="peronalCarusel" class="carousel carus-slider slide">
                        {% filter shortcodes %}
                            [ayp_team_slider]
                        {% endfilter %}
                        <div class="specialists-slider-nav">
                            <div class="owl-prev js-specialist-prev">
                                <img src="{{AYP_THEME_URI}}/dist/images/main-box/button-next.png" alt="next">
                            </div>
                            <div class="owl-next js-specialist-next">
                                <img src="{{AYP_THEME_URI}}/dist/images/main-box/button-next.png" alt="prev">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </article>

        <article id="creative" >

            <div class="container box-header promo-main">
                <div class="header">
                    <span class="after">creative</span>
                    <h2>Креатив от <span>CRUCHE</span></h2>
                </div>
                {% filter shortcodes %}
                    [ayp_creative_slider]
                {% endfilter %}
            </div>

            <div id="cusrce" class="container box-header">
                <div class="header">
                    <span class="after">academy</span>
                    <h2 class="hidden-xs">Академия <br>
                        парикмахерского <br>
                        искусства <span>CRUCHE</span></h2>
                    <h2 class="visible-xs">Академия парикмахерского <br>
                        искусства <span>CRUCHE</span></h2>

                </div>
                <div class="descr-box-academ">
                    <div class="descr-box-academ__item text-descr">
                        <p class="header-text">
                            с азов мастерства - до получения диплома!<br>
                            от повышения квалификации -<br>
                            до крутых вершин профессионализма!
                        </p>
                        <div>
                            <p>
                                "Мы даем нашим выпускникам  реальные знания и навыки в сфере
                                парикмахерского искусства! Мы выдаем документы об образовании
                                государственного образца c присвоением квалификации!
                                Все образовательные программы разработаны в соответствии
                                требованиями Министерства и Департамента образования в рамках
                                утвержденных ПРОФЕССИОНАЛЬНЫХ СТАНДАРТОВ!"
                            </p>
                            <p>
                                Преподаватели CRUCHE - специалисты и эксперты международного
                                уровня,среди них одарённые талантливые выпускники Академии!!
                            </p>
                            <p>
                                СRUCHE молодой и энергичный российско-испанский бренд в сфере
                                образования и салонного бизнеса, созданный в 2017 году,
                                "Международным Центром Профессионального Образования"
                            </p>
                            <p>
                                CRUCHE создан для молодых креативных целеустремленных людей,
                                стремящихся стать настоящими профессионалам
                                в парикмахерском искусстве!
                            </p>
                        </div>
                    </div>
                    <div class="descr-box-academ__item images">
                        <img src="{{AYP_THEME_URI}}/dist/images/academy/box-2-bg.png" alt="">
                    </div>
                </div>

                <div class="obuchenie">
                    <h3>Наши направления обучения</h3>
                    {% filter shortcodes %}
                        [ayp_lessons]
                    {% endfilter %}
                    <div class="button-box">
                        <a href="#" class="popup-button-main js-modal-open" data-modal="lesson-modal">Записаться на обучение</a>
                    </div>
                </div>
            </div>
        </article>

        <article id="video">
            <div class="container video-box">


                <div class="video-box__item custom-youtube" id="ALZHF5UqnU4" data-img="{{ AYP_THEME_URI }}/dist/images/barber.png">
                </div>


                <div class="video-box__item text-box">
                    <p>
                        <span>CRUCHE</span> - это центр красоты и салонного образования,
                        место где Вы преображаетесь внешне,
                        где Вам комфортно.
                    </p>
                    <p>
                        В <span>CRUCHE</span> Вы станите дипломированными
                        парикмахерами-стилистами по госпрофстандарту
                        и по самым современным международным стандартам.
                    </p>
                    <p>
                        <span>CRUCHE</span> – это территория где делают профессионалов,
                        и где профессионалы делают вас красивыми.
                    </p>
                    <p>
                        <span>CRUCHE</span> – красота и образование делают вас круче!
                    </p>

                    <div class="box-logo">
                        <div class="box-logo__item">
                            <img src="{{AYP_THEME_URI}}/dist/images/video/logo/1.png" alt="">
                        </div>
                        <div class="box-logo__item">
                            <img src="{{AYP_THEME_URI}}/dist/images/video/logo/3.png" alt="">
                        </div>
                        <div class="box-logo__item">
                            <img src="{{AYP_THEME_URI}}/dist/images/video/logo/2.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </article>

        <article id="sertificate">
            <div class="container box-header promo-main">
                <div class="header">
                    <span class="after">licenses</span>
                    <h2>Сертификаты и лицензии</h2>
                </div>
                <div class="sliderBox">
                    <div class="licenseBox js-license-slider">
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                        <div class="item">
                            <img src="{{AYP_THEME_URI}}/dist/images/sert.png" alt="">
                        </div>
                    </div>
                    <div class="license-slider-nav">
                        <div class="js-license-slider-prev license-slider-prev">
                            <img src="{{AYP_THEME_URI}}/dist/images/main-box/button-next.png" alt="next">
                        </div>
                        <div class="js-license-slider-next license-slider-next">
                            <img src="{{AYP_THEME_URI}}/dist/images/main-box/button-next.png" alt="next">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-header promo-main">
                <div class="header">
                    <span class="after">academy</span>
                    <h2>Отзывы довольных<br>
                        клиентов и студентов</h2>
                </div>
            </div>
            <div class="">
                <div class="video-reviews js-video-reviews-slider">
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                    <div>
                        <img src="{{AYP_THEME_URI}}/dist/images/barber.png" alt="">
                    </div>
                </div>
            </div>
        </article>

        <article id="calltoaction">
            <div class="container box-form">
                <div class="box-form__item header-title-main">
                    <h2 class="header-title">
                    <span class="tiny">
                        CRUCHE
                    </span><br>
                        <span class="hevy">
                        приглашает<br> на бесплатное
                    </span><br>
                        <span class="lite">
                        окрашивание и стрижки!
                    </span>
                    </h2>
                </div>
                <div class="form-box box-form__item">
                    <h3>
                        <span>Заполните форму</span><br>
                        и наши специалисты свяжутся<br>
                        с Вами в ближайшее время
                    </h3>
                    <form action="js_order" class="js-form">
                        <div class="name">
                            <input type="text" class="input" required name="name" placeholder="Ваше имя">
                        </div>
                        <div class="phone">
                            <input type="tel" class="js-phone-mask input"
                                   name="phone"
                                   placeholder="Ваш телефон">
                        </div>
                        <div class="email">
                            <input type="email" class="input"
                                   name="email"
                                   placeholder="Ваш e-mail">
                        </div>
                        <input type="submit" class="popup-button-main" value="Записаться в салон">
                    </form>
                </div>
            </div>
        </article>

        <article id="instagram">
            <div class="container box-header">
                <div class="header">
                    <span class="after">instagram</span>
                    <h2>Инстаграм</h2>
                </div>

                <div class="instagram-content js-instagram">
                    {% for media in medias %}
                        <div class="instagram-content__item">
                            <a href="{{ media.link }}" target="_blank">
                                <img src="{{ media.imageLowResolutionUrl }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </article>

    </section>

    <footer>
        <div class="footer-info-box">
            <div class="mw992 m0a footer-info-box-main footer-info-top">
                <div class="footer-info-box__item ">
                    <p>{{ ayp_options.address }}.</p>
                </div>
                <div class="footer-info-box__item">
                    <a class="phone-link-footer" href="tel:{{ ayp_options.phone_number|replace({' ':'','(':'',')':'','-':''}) }}">Телефон: {{ ayp_options.phone_number }}</a><br>
                    <a class="phone-link-footer" href="mailto:{{ ayp_options.email }}">E-mail: {{ ayp_options.email }}</a><br>
                    <a class="phone-link-footer" href="mailto:{{ ayp_options.email_2 }}">E-mail: {{ ayp_options.email_2 }}</a>
                </div>
                <div class="footer-info-box__item right-top right">
                    <a href="{{ ayp_options.instagram }}"><img src="{{AYP_THEME_URI}}/dist/images/footer/instagram.png" alt=""></a>
                    <a href="{{ ayp_options.twitter }}"><img src="{{AYP_THEME_URI}}/dist/images/footer/twitter.png" alt=""></a>
                    <a href="{{ ayp_options.fb }}"><img src="{{AYP_THEME_URI}}/dist/images/footer/facebook.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="map" id="map">
            <img src="{{ AYP_THEME_URI }}/dist/images/main-box/big-ben.png" class="map-decor" alt="">
        </div>

        <div class="footer-info-box">
            <div class="container footer-info-box-main">
                <div class="footer-info-box__item">
                    <p>Copyright 2018</p>
                </div>
                <div class="footer-info-box__item right">
                    <a href="https://ayeps.ru">Разработано в Ayep's</a>
                </div>
            </div>
        </div>

    </footer>

    <div id="myModal" class="modal fade modalVideo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="videoBox"></div>
            </div>
        </div>
    </div>

{% endblock %}