{#

	Теги "{{  }}" - служат для вывода переменной

 Переменные
 	post 			- массив с данными
 	post.content 	- Содержимое страницы
 	post.title 		- Название страницы
 	post.post_type 	- тип записи
	post.ID 		- идентификатор записи

	Опции темы:
		ayp_options - массив опций

		ayp_options.phone_number  			- номер телефона
		ayp_options.address  				- Адрес организации
		ayp_options.email 					- Email указанный в опциях
		ayp_options.work_hours  			- Часы работы
		ayp_options.faks  					- Факс

		ayp_options.main_logo.url  			- полная ссылка на логотип
		ayp_options.main_logo_x2.url  		- полная ссылка на логотип для ретины (х2)

		ayp_options.instagram   			- Ссылка на инстаграм
		ayp_options.fb  					- Ссылка на Фейсбук
		ayp_options.vk  					- Ссылка на ВКонтакте
		ayp_options.google_plus 			- Ccылка на профиль Google+
		ayp_options.youtube 				- Ccылка на профиль Youtube
		ayp_options.ok 						- Ccылка на профиль Одноклассники

#}

{% extends "base.twig" %}

{% block content %}
	<div class="container">
        {{post.content}}
	</div>
{% endblock %}