{#
    Переменные
        posts               - массив всех записей, проходим их все через цикл for
        post.title          - Название отзыва
        post.content        - содержание отзыва
        post.thumbnail.src  - ссылка на изображение отзыва
            Доп параметры для ссылки изображения
                post.thumbnail.src( "Название размера изображения" )
                    ayp_testimonial_avatar - размер обычного изображения (по умолчанию - 100х100 меняется в файле functions.php)
                    ayp_testimonial_avatarx2 - двойной размер для ретины (по умолчанию - 200x200 меняется в файле functions.php)
#}
<div class="testimonials-slider">
    {% for post in posts %}
        <div class="testimonial__item">
            <div class="testimonial__avatar">
                <img src="{{ post.thumbnail.src('ayp_testimonial_avatar') }}"
                     srcset="{{ post.thumbnail.src('ayp_testimonial_avatar') }}, {{ post.thumbnail.src('ayp_testimonial_avatarx2') }} 2x" alt="avatar">
            </div>
            <div class="testimonial__content">
                <div class="testimonial__title">
                    {{ post.title }}
                </div>
                <div class="testimonial__body">
                    {{ post.content }}
                </div>
            </div>

        </div>
    {% endfor %}
</div>
