<div class="services-slider container">
    {% for post in posts %}
    <div class="serv-content__item ">
        <div class="main-img">
            <img src="{{ post.thumbnail.src('ayp_services') }}"
                 srcset="{{ post.thumbnail.src('ayp_services_x2') }} 2x"
                 alt="{{ post.title }}">
        </div>
        <div class="descr">
            <span>{{ post.title }}</span><img src="{{AYP_THEME_URI}}/dist/images/servis/icon.png" alt="">
        </div>
    </div>
    {% endfor %}
</div>