.testimonial{

  .slick-initialized &__item{
    @include flexbox();
    padding: 0 25px;
  }

  &__body{
    font-size: 14px;
    margin-bottom: 5px;
    color: #3e3e3e;
  }

  &__avatar{
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 100%;
    & img{
      border-radius: 100%;
    }
  }

  &__content{
    @include flex();
  }
}