<div class="overlay">
    <div class="ayp_modal ayp_modal--default" id="order">
        <div class="ayp_modal__inner">
            <a href="" class="ayp_modal__close js-close-modal"></a>
            <div class="ayp_modal__header">
                <div class="ayp_modal__title">Заполните форму</div>
                <div class="ayp_modal__subtitle">и наши специалисты свяжутся<br>
                    с Вами в ближайшее время</div>
            </div>
            <form action="js_order" class="ayp_modal-form js-form">
                <div class="ayp_modal-form__input-container">
                    <input type="text" placeholder="Ваше имя" name="name" class="ayp_modal-form__input ayp_modal-form__input--name">
                </div>
                <div class="ayp_modal-form__input-container">
                    <input type="tel" placeholder="Ваш телефон" name="phone" class="ayp_modal-form__input js-phone-mask ayp_modal-form__input--phone">
                </div>
                <div class="ayp_modal-form__input-container">
                    <input type="email" placeholder="Ваш Email" name="email" class="ayp_modal-form__input ayp_modal-form__input--email">
                </div>
                <div class="ayp_modal-form__input-container">
                    <textarea style="padding:12px;" name="services" placeholder="Интересующие услуги"
                              class="ayp_modal-form__input" id="" cols="30" rows="3"></textarea>
                </div>
                <div class="ayp_modal-form__input-container text--center">
                    <input type="submit"
                           value="Записаться в салон"
                           class="popup-button-main">
                </div>
            </form>
        </div>
    </div>
    <div class="ayp_modal ayp_modal--default" id="lesson-modal">
        <div class="ayp_modal__inner">
            <a href="" class="ayp_modal__close js-close-modal"></a>
            <div class="ayp_modal__header">
                <div class="ayp_modal__title">Заполните форму</div>
                <div class="ayp_modal__subtitle">и наши специалисты свяжутся<br>
                    с Вами в ближайшее время</div>
            </div>
            <form action="js_lesson" class="ayp_modal-form js-form">
                <div class="ayp_modal-form__input-container">
                    <input type="text" placeholder="Ваше имя" name="name" class="ayp_modal-form__input ayp_modal-form__input--name">
                </div>
                <div class="ayp_modal-form__input-container">
                    <input type="tel" placeholder="Ваш телефон" name="phone" class="ayp_modal-form__input js-phone-mask ayp_modal-form__input--phone">
                </div>
                <div class="ayp_modal-form__input-container">
                    <input type="email" placeholder="Ваш Email" name="email" class="ayp_modal-form__input ayp_modal-form__input--email">
                </div>
                <div class="ayp_modal-form__input-container">
                    <textarea style="padding:12px;" name="services" placeholder="Интересующие услуги"
                              class="ayp_modal-form__input" id="" cols="30" rows="3"></textarea>
                </div>
                <div class="ayp_modal-form__input-container text--center">
                    <input type="submit" value="Записаться на обучение" class="popup-button-main">
                </div>
            </form>
        </div>
    </div>
    <div class="ayp_modal ayp_modal--default" id="success-modal">
        <div class="ayp_modal__inner">
            <a href="" class="ayp_modal__close js-close-modal"></a>
            <div class="ayp_modal__header">
                <div class="ayp_modal__title"></div>
                <div class="ayp_modal__subtitle"></div>
            </div>
            <div class="text--center">
                <a href="#" rel="nofollow" class="popup-button-main js-close-modal">Ок</a>
            </div>
        </div>
    </div>
    <div class="ayp_modal ayp_modal--default" id="callback-modal">
        <div class="ayp_modal__inner">
            <a href="" class="ayp_modal__close js-close-modal"></a>
            <div class="ayp_modal__header">
                <div class="ayp_modal__title">Заполните форму</div>
                <div class="ayp_modal__subtitle">и наши специалисты свяжутся<br>
                    с Вами в ближайшее время</div>
            </div>
            <form action="js_callback" class="ayp_modal-form js-form">
                <div class="ayp_modal-form__input-container">
                    <input type="tel" placeholder="Ваш телефон" name="phone" class="ayp_modal-form__input js-phone-mask ayp_modal-form__input--phone">
                </div>
                <div class="ayp_modal-form__input-container text--center">
                    <input type="submit"
                           value="Заказать звонок"
                           class="popup-button-main">
                </div>
            </form>
        </div>
    </div>
</div>