<div class="creative__row">
    <div class="creative__col">
        <div class="creative">
            {% for image in images %}
                <div>
                    <img src="{{ image }}" alt="creative" />
                </div>
            {% endfor %}
        </div>
        <button class="js-creative-prev ayp-slide-nav ayp-slide-nav__prev"><i class="fa fa-angle-left"></i></button>
        <button class="js-creative-next ayp-slide-nav ayp-slide-nav__next"><i class="fa fa-angle-right"></i></button>
    </div>
    <div class="creative__col creative__col--as-nav">
        <div class="creative-nav">
            {% for image in images %}
                <div data-current="{{ loop.index0 }}" class="{% if(loop.index0 == 0)%}creative-thumb--current{% endif %} js-creative-thumb">
                    <img src="{{ image }}" />
                </div>
            {% endfor %}
        </div>
    </div>
</div>