<ul class="tablet-price-academy">
    <li class="headerBox">
        <span class="special">Специальность</span>
        <span class="prod">Продолжительность</span>
        <span class="price">Стоимость</span>
    </li>
    {% for lesson in lessons %}
        <li>
            <span class="special">{{ lesson.title }}</span>
            <span class="prod">{{ lesson.time }}</span>
            <span class="price">{{ lesson.value }}</span>
        </li>
    {% endfor %}
</ul>